.header-container {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  background-color: #c7ddea;

  .header-title {
    padding: 1.5em 2em 0 0.5em;
    font-family: "frank ruhl libre", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
  }

  .header-param {
    padding: 1.5em 1.5em 0 1em;
    color: rgb(84, 84, 84);
    font-size: 1rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
  }

  .button {
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-left: 3%;
    height: 3em;
    width: 8.5em;
    border-radius: 20em;
    box-shadow: 0 1px 1px rgba(66, 64, 64, 0.5);
    background-color: white;
    transition: background-color 0.3s ease;

    &:hover {
      color: white;
      background-color: rgba(0, 0, 0, 0.678);
    }

    a {
      text-decoration: none;
      padding: 0em 0 0 4em;
      font-family: "Fira Sans", sans-serif;
      font-weight: 500;
      font-size: 0.7rem;
      color: black;
      text-transform: uppercase;
      letter-spacing: -1px;
      transition: color 0.3s ease;

      &:hover {
        color: white;
      }
    }
  }

  .white {
    color: white;
  }

  .header-img {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    position: relative;
    height: 71.5vh;
    width: 50%;

    .header-title {
      padding-left: 2em;
      font-size: 3rem;
    }

    .header-param {
      position: absolute;
      top: 24.2%;
      padding: 0 16em 1em 6em;
    }

    .button {
      position: absolute;
      display: flex;
      align-items: center;
      top: 27%;
      left: 6%;
      height: 3em;
      width: 8.5em;
      border-radius: 20em;

      a {
        padding: 0em 2em 0em 4em;
        font-size: 0.7rem;
      }
    }

    .header-img {
      position: absolute;
      top: 37.5%;
      left: 50%;
      width: 45%;
      padding: 0;
    }
  }
}
